.navbar {
	padding: 10px 20px 10px 15px !important;
	margin: 0px !important;
}

.nav-btn-login { margin-right: 15px; }

.card {
	margin-top: 20px;
	margin-bottom: 20px;
}
	
.card-header { text-align: center; }
.invalid-feedback { display: block; }
#submitButton {	margin-bottom: 20px; }

@media (min-width: 576px) {
	.card { 
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

.dropdown-menu-right {
	right: 0;
	left: auto;
}

#logout-form {
	padding: 4px 24px;
}

.logo-container {
	text-align: center;
	margin-bottom: 20px;
}

.top-50 {
	margin-top: 50px;
}

.hero {
	width: 100%;
	height: 300px;
	background-image: url("../img/hero-sm.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 60px 15px;
}

.hero-heading {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	font-size: 1.125em;
	border: 2px solid #28a745;
	border-radius: 4px;
	padding: 10px;
}

@media (min-width: 576px) {
	.hero {
		height: 400px;
		background-image: url("../img/hero-md.jpg");
		padding-top: 150px;
	}
	
	.hero-heading {
		font-size: 2em;
		padding: 20px;
	}
}

@media (min-width: 768px) {
	.hero {
		height: 500px;
		background-image: url("../img/hero-md.jpg");
		background-position: center center;
		padding-top: 150px;
	}
}

@media (min-width: 992px) {
	.hero {
		height: 550px;
		background-image: url("../img/hero-lg.jpg");
		padding-top: 200px;
	}
	
	.hero-heading { 
		font-size: 3em;
		border-width: 3px;
		border-radius: 6px;
	}
}

.sl {
	text-align: center;
}

.sl-btn {
	display: block;
	width: 100%;
	margin: 10px 0;
}

@media (min-width: 576px) {
	.sl-btn {
		display: inline-block;
		width: 200px;
		margin: 0 20px;
	}
}

footer {
	background-color: #1e7e34;
	color: #fff;
	text-align: center;
	padding: 15px;
}

footer ul {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

footer ul li {
	display: inline;
}

footer ul li:not(:last-child):after {
	content: " | ";
}

footer a {
	color: white;
}

.quick-tool { margin-top: 20px;}

.quick-tool .card-title {
	text-align: center;
}

.tab-content {
	padding: 20px; 
}

.tab-pane h3 {
	text-align: center;
	margin-bottom: 20px;
}

.tab-pane h3 + p{
	margin-bottom: 30px;
}

.nav-pills .nav-link {
	color: #28a745;
	border: 1px solid #343a40;
	margin: 3px 3px;
}

.nav-pills .nav-link.active {
	color: #fff;
	background-color: #28a745;
}
