.card { margin-top: 50px; }
.error { color: red; }
.invalid-feedback { display: block; }

/*
#header{
background-color:black;
color:white;
}
h1{
text-align:center;
color:white;
}
a{
color:white;
}

ul{
    list-style-type: none;
}
#logo{
    text-align:center;
    background-color:black;
}
*/